<!DOCTYPE html>
<html>
  <head>
    <title>오목게임</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <header>
      <h1>오목게임</h1>
      <span style="width: 130px">
        <span th:text="${user.username}"></span>
        <!--        <button id="loginBtn" class="login-button">-->
        <!--          Login with GitHub-->
        <!--        </button>-->
      </span>
    </header>
    <main class="container">
      <div class="status">채팅</div>
      <section>
        <div id="chatMessages" class="chat-container">
          <!-- 채팅 내용은 동적으로 추가되도록 JavaScript로 구현 -->
        </div>
        <div class="user-list">
          <h3>접속자 목록</h3>
          <dlv id="participants-list"></dlv>
          <!-- 접속자 목록은 동적으로 추가 -->
        </div>
      </section>
      <form id="chatForm">
        <input
          type="text"
          id="chat-input"
          class="chat-input"
          placeholder="메시지를 입력하세요"
        />
        <button type="submit" id="send-button" class="button chat-button">
          전송
        </button>
      </form>
      <button
        id="start-button"
        class="button start-button"
        onclick="matchStartEvent()"
      >
        매칭 시작
      </button>
      <button
        id="cancel-button"
        class="button cancel-button none"
        onclick="matchCancelEvent()"
      >
        매칭 취소
      </button>
    </main>
    <script>
      const [sender, win, loss] = ["[[${user.username}]]", "[[${user.win}]]", "[[${user.loss}]]"];
    </script>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
  </body>
</html>
