<!DOCTYPE html>
<html>
  <head>
    <title>오목게임</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/play.css">
  </head>
  <body>
    <header>
      <h1>오목게임</h1>
      <span style="width: 130px">
        <span th:text="${user}"></span>
      </span>
    </header>
    <div class="container">
      <h3 class="gamer">
        <span id="p1" th:text="${game.player1}">Player1</span> ⚫ vs ⚪
        <span id="p2" th:text="${game.player2}">Player2</span>
      </h3>
      <div id="board"></div>
      <button
        id="cancel-button"
        class="button cancel-button"
        onclick="sendEnd()"
      >
        기권
      </button>
    </div>
    <script>
      const [gameId, user, player1, player2] = ["[[${game.id}]]", "[[${user}]]", "[[${game.player1}]]", "[[${game.player2}]]"];
    </script>
    <script type="text/javascript" th:src="@{/js/play.js}"></script>
  </body>
</html>
